<style>
#circle, #square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    cursor: move;
    text-align:center;
    color:white;
    line-height:100px;
    background-color: #aa0055;
    font-size: 11px
}
#square {
    border-radius: 0;
    background-color: #55aa00;
}
</style>
<script></script>
<div id="square" style="left: 10px; top:200px">I'M NOT SHARED</div>
<div id="circle" style="left: 150px; top:20px">I'M SHARED</div>
<script src="https://unpkg.com/dop@0.11.11/dist/browser.js"></script>
<script src="index.js"></script>
